<link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
<div class="header_left_side">
    <img src="{{ asset('images/PS24_ilustrace_motivy-18.png') }}" alt="logo"/>
    <h1> {{ grade }}. Podzimní snění</h1>
</div>
<nav>
    <a href="#intro">o festivalu</a>
    <a href="#bands-section">kapely</a>
    <a href="#lineup-section">program</a>
</nav>