<link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
<div class="header_left_side">
    <img src="{{ asset('images/PS24_ilustrace_motivy-18.png') }}" alt="logo"/>
    <h1> {{ grade }}. PODZIMNÍ SNĚNÍ</h1>
</div>
<nav>
    <a href="#desc">o festivalu</a>
    <a href="#artistsH">kapely</a>
    {% if lineup_public %}
        <a href="#lineupH">program</a>
        <a href=">#supportH">doprovodný program</a>
    {% endif %}
</nav>