#desc {
    text-align: center;
}

#desc div {
    margin: 25px;
}

.date_term {
    font-size: 25px;
    font-weight: bold;
}

#desc .button_ticket {
    margin-top: 50px;
}
#desc a {
    background-color: rgb(232,226,219);
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 35px;
    border-radius: 1px;
}








