footer {
    display: flex;
    flex-direction: column;
    border-top: solid thin rgb(232,226,219);
    height: 5rem;
}

.footer_location, .footer_images {
    display: flex;
    justify-content: center;
}

.footer_location div {
    width: fit-content;
    margin: 0 1rem 0.5rem 1rem;
}

.footer_location a {
    text-decoration: none;
    margin-bottom: 2rem;
}

.footer_location a:hover {
    color: rgb(74,71,182);
}

.footer_images a {
    width: fit-content;
}

.footer_images a img {
    width: 1.5rem;
    margin: 1rem 0.8rem;
}