#lineup, #support {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#friday, #saturday, #sunday {
    width: 40%;
}

.lineup_record {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 5px;

}

.lineup_record .lineup_time {
    display: flex;
    width: 50%;
}

.lineup_record .lineup_time div {
    text-align: center;
    width: 80px;
}

.lineup_record .lineup_time .separator {
    width: fit-content;
}

.lineup-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lineup-bottom-pics {
    display: flex;
    justify-content: center;
}

.lineup-bottom-pics img {
    width: 2%;
    margin: 1rem;
}