<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Podzimní snění</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
{% block body %}
    <div id="header">
        {% block header %}{% endblock %}
    </div>

    <div id="desc">
        {% block description %}{% endblock %}
    </div>

    <h2>Ceník</h2>
    <div id="price_list">
        {% block priceList %}{% endblock %}
    </div>

    <h2>kapely</h2>
    <div id="artists">
        {% block artists %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>